@use 'sass:color';
@use '../../styles/variables' as v;


#container-login{
    margin-top: 3rem;
    width: 50%;
    h2 #ici {
        
        text-decoration: underline;
        &:hover {
            color: v.$color-primary;
        }
    }

    #connexion {
        display: flex;
        justify-content: center;
        #button-login{
            margin-top: 1rem;
            background-color: v.$color-primary;
            color: v.$color-secondary;
    
            &:hover {
                background-color: v.$color-secondary;
                color: v.$color-primary;
            }
        }
        
    }
}
