@use 'sass:color';
@use '../../styles/variables' as v;


#container-login{
    margin-top: 3rem;
    max-width: 80vw;

    h2 #ici {
        color: v.$color-tertiary;
        text-decoration: underline;
        &:hover {
            color: v.$color-primary;
        }
    }
    .input{
        background-color: white;
        color: black;
      }


    #connexion {
        display: flex;
        justify-content: center;
        #button-login{
            margin-top: 1rem;
            background-color: v.$color-primary;
            color: v.$color-secondary;
    
            &:hover {
                background-color: v.$color-secondary;
                color: v.$color-primary;
            }
        }
        
    }
}
