@use '../../styles/variables' as v;

#nav{
    background-color: v.$color-primary;
}

.navbar-end{
    margin-right: 10vw;
}

#items{
    color: v.$color-secondary;
    &:hover{
        color: v.$color-primary;
        background-color: v.$color-secondary;
    }
}

#items-title{
    color: v.$color-secondary;
    font-size: 2rem;
    font-weight: bold;
    &:hover{
        color: v.$color-primary;
        background-color: v.$color-secondary;
    }
}

.navbar-menu.is-active {
    background-color: black;
}

@media (min-width: 1024px) {
    .navbar-brand{
        margin-left: 10vw;
    }
}