@use '../../styles/variables' as v;

#nav{
    background-color: v.$color-primary;
}

.navbar-end{
    margin-right: 10%;
}

#items{
    color: v.$color-secondary;
    &:hover{
        color: black;
        background-color: v.$color-secondary;
    }
}

#items-title{
    color: v.$color-secondary;
    font-size: 2rem;
    font-weight: bold;
    &:hover{
        color: black;
        background-color: v.$color-secondary;
    }
}


@media (min-width: 1024px) {
    .navbar-brand{
        margin-left: 10%;
    }
}