@use 'sass:color';
@use '../../styles/variables' as v;

.goldenbook{
  /* Guestbook.scss */
  .fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 1.5s ease-out;

  }
  
  .fireworks-container.fade-out {
    opacity: 0;
  }

  #container-global {
    min-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: v.$color-secondary;
  }
  
  #div-title {
    background-color: rgba(204, 176, 20, 0.808);
    min-width: 60vw;
    color: v.$color-text;
    padding: 1rem;
    margin-top: 5vw;
    margin: 2vw;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  
    h1 {
      margin: 1.5rem;
    }
  }
  .input, .textarea {
    background-color: white;
    color: black;

    &::placeholder {
        color: gray; // Changez cette couleur selon vos besoins
    }
}




  #button {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    margin-top: 2rem;
    min-width: 10vw;
    background-color: v.$color-primary;
    color: v.$color-secondary;
  }
  
  #button:hover {
    background-color: v.$color-secondary;
    color: v.$color-primary;
    transform: translateY(-2px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  #container-card {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    color: v.$color-text;
    margin-bottom: 2rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
    background-color: v.$color-secondary;
    
    #one-card {
     background-color: rgba(228, 210, 112, 0.808);
    }
  }
  
  #message{
    margin-left: 5%;
    color: v.$color-text;
  }
  
  .message-content{
    color: v.$color-text;
  }
  .message-author{
    color: v.$color-primary;
    font-weight: bold;
  }
  
  .container-field{
  
    display: flex;
    justify-content: center;
    .field{
      width: 50vw;
    }
  
  }
  
  #paragraph {
    color: v.$color-text;
   background-color: v.$color-secondary;
  }
  
  #box-date{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .span-letter{
    font-size: 2rem;
  }

  #icon-heart{
    margin-top: 1rem;
  }
}

