@use '../../styles/variables' as v;

.Home{
  .hero-body {
    background-color: v.$color-secondary;
  }
  
   #title-h1 {
      margin-top: 0.5vw;
      margin-bottom: -1rem;
      color: v.$color-primary;
  }
  
  #first-paragraphe{
      width: 100%;
  }
  
  li {
    text-align: justify;
  }
  
  h2{
    color: rgba(0, 0, 0, 0.829);
    font-weight: bold;
  } 

  #img-main{
    filter: contrast(1.2) brightness(1.2) drop-shadow(0px 0px 10px rgba(0, 0, 0, 1.5));
    animation: moveUpDown 3s ease-in-out infinite alternate;
  
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(1.5rem);
    }
  }
  
  h3{
    color: v.$color-primary;
    font-weight: bold;

  }
  #news-box{
   display: inline-block;
  }

}
