@use 'sass:color';
@use '../../styles/variables' as v;


#container-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: v.$color-secondary ;
}

#container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    min-width: 40vw ;
    background-color: v.$color-secondary ;

    h1{
        text-align: center;
        margin-top: 1rem;
        font-size: 3rem;
        color: v.$color-primary;
    }

    #text{
        text-align: justify;
        max-width: 55vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: v.$color-primary ;

        em{
            font-size: 1rem;
            color: black ;
        
        }
    }
}

.input{
   
    background-color: v.$color-tertiary;
}

#picture-name {
  font-size: 20%;
}

#picture-container{
    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin-top: 2vw ;
    background-color: v.$color-secondary ;
}

@media (max-width: 768px) {
    #picture-name {
        display: none;
      }
}

#card-content{
    background-color: black;
}

#picture-name {
    height: 0.1%;
}